*{
    margin:0;
    padding:0;
}
input,select,textarea{
    outline:none;
}
ul{
    list-style:none;
}
a{text-decoration:none;
color:inherit;
}
/* header */
.header{
    width:100%;
    position:fixed;
    z-index:9;
    background:white;
}
.header-content{
    position:relative;
    height:40px;
    line-height: 40px;
    padding:10px 0;
   }
.h-left{
float:left;
margin:0 60px 0 30px;
padding-right:40px;
}
.h-left span{
    position:absolute;
    top:12px;
    left:148px;
    width:1.5px;
    height:30px;
    background:#ccc;
}
.h-nav{
float:left;
margin-left:100px;
}
.h-nav li{
    float:left;
   text-align:center;
   margin:0 30px;
}
.h-nav >li>a{
    display:inline-block;
    width:95px;
    height:40px;
    line-height:40px;
    cursor:pointer;
}
.h-nav>li span{
    display:block;
}
.h-nav li a >div{
    height:18px;
    vertical-align: middle;
    overflow: hidden;
}
.h-nav li a >div>span{
    transition:top 0.5s ease;
    line-height:18px;
    position:relative;
    top:0;}
.h-right{
  float:right;
}
.h-left .logo img{
     width:98px;
   }
   .h-right  a{
    font-size:16px;
    display:inline-block;
    line-height:20px;
}

.h-right img{
    position:relative;
    top:5px;
    right:7px;
}
.h-right .tel{
    color: #317242;
    font-size:24px;
    margin-right:100px;
}
.h-right .search{
   position:absolute;
   width:90px;
   height:70px;
   top:-10px;
   right:0;
   background: #206231 url("../img/seachbut.png") no-repeat center 27px;
} 
/* s1 */
.s1{
    position:relative;
    top:60px;
    font-size:0;
    height:100%;
}
.ban{
    position:relative;
}
.ban img{
    width:100%;
}
.s1 .ban h2{
    position:absolute;
    font-size:32px;
    top:37%;
    bottom:50%;
    transform:translateY(-50%);
    left:250px;

}
.s1 .ban h2 span{
    display:block;
    line-height:50px;
    color:#2d3338;
    font-weight:400;
    letter-spacing:5px;
}
.s1 .map{
    position:relative;
    text-align:center;
  
    
}
.s1 .map img{
    width:100%;
} 
.s1 .map .mapul{
    width:60%;
    display:inline-block;
    height:200px;
     position:absolute;
    top:0;
    left:0;
}  
.s1 .mapBox{
    width:80%;
    height:220px;
   background:white;
    position:absolute;
    border-radius:5px;
    top:-25%;
    left:50%;
    right:50%;
    transform:translateX(-50%);
    font-size:18px;
    color:#333;
}
.s1 .mapBox img{
    width:50px;
}
.s1 .mapBox .left,.s1 .mapBox .right{
    float:left;
    box-sizing:border-box;} 
.s1 .mapBox .left{
    width:10%;
    height:inherit;
     padding:80px 0;
    border-right:1px solid #dfdfdf;
}
.s1 .mapBox .left p:after{
    content:"";
    display:block;
    width:1px;
    height:30px;
    background:#333;
    position:absolute;
    right:0;
    top:50%;
    transform:translateY(-50%);
    opacity:0;
}
.s1 .mapBox .left p:first-child:after{
    opacity:1;
}
.s1 .mapBox .left p{
   padding:10px 0;
   position:relative;
}
.s1 .mapBox .right{
    width:90%;
    height:inherit;
}
.s1 .mapBox .right li{
    float:left;
    width:33%;
    height:inherit;
    text-align:center;
   position:relative;
}
.s1 .mapBox .right li .list{
    width:100%;
    position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  border-right:dashed 1px #dfdfdf;
}
.s1 .mapBox .right li .list:nth-child(3){
    border-right:none;
}


.s1 .mapBox .right li p{
    color:#206231;
    letter-spacing:1px;
    font-size:16px;
    margin-top:10px;
}
.s1 .map .btns{
    position:absolute;
    bottom:100px;
    font-size:16px;
    left:50%;
    transform:translateX(-50%);}

.s1 .map .btns a{
    display:inline-block;
    width:190px;
    height:50px;
    line-height:50px;
    color:white;
    background:#206231;}
   
    /* s2 */
    .s2{
     margin:60px 0 40px 0;
    }
    .s2-content{
        width:1200px;
        height:inherit;
        margin:0 auto;
        
        text-align:center;
        padding-top:80px;
        color:#252525;
    }
    .s2-content h2{
        font-size:36px;
        font-weight:normal;
    }
    .s2-content p{
        font-size:20px;
        margin-top:20px;
    }
    .s2 .table{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
        align-content:flex-start;
        align-content: space-start;
       }
    .s2 .table input ,.s2 .table select{
        width:48%;
        height:45px;
        border:1px solid #a6a6a6;
        box-sizing:border-box;
        border-radius:3px;
        padding-left:10px;
        margin:30px 0 0px 0;
        font-size:16px;
}
.s2 .table input::-webkit-input-placeholder{
    color:#D1D1D1;
}
.s2 .table textarea::-webkit-input-placeholder{
    color:#D1D1D1;
}
   .s2 .table textarea{
       width:100%;
       border:1px solid #a6a6a6;
       border-radius:3px;
       height:155px;
       padding:10px;
       margin-top:20px;
   }
   .s2 .table textarea[placeholder]{
     font-size:16px;
}
.s2 .table .verify{
    width:100%;
   text-align:center;
}
.s2 .table .verify input{
    width:205px;
    height:45px;
    line-height:45px;
    position: relative;
    left: -23px;
   
}
.s2 .table .verify img{
    width:129px;
   position:relative;
   top:11px;
   left:-3px;
}
.s2 .sub{
    width:100%;
    text-align:center;
    margin-top:20px;    
}
.s2 .table .sub a{
    display:inline-block;
    width:390px;
    height:45px;
    line-height:45px;
    color:white;
    background:#206231;
    border-radius:5px;
}
/* s3 */
.s3-content{
    width:1200px;
     margin:0 auto;
     padding:30px 0;
     margin-top:120px;}
.s3-content:after{
    content:"";
    display:block;
    clear: both;
}
.s3-content .left,.s3-content .right{
    width:48%;
    height:320px;
    float:left;
    box-sizing:border-box;
    text-align:center;
    position:relative;
    margin-right:6px;
    box-sizing:border-box;
}
.s3-content .discv em ,.s3-content .discv i{
    position: absolute;
    width: 2px;
    height:90%;
    top:18px;
 }
 .s3-content .left em,.s3-content .left i{
     background:url("../img/contact-hm6d1.png") repeat-y; 
 }
.s3-content .right em,.s3-content .right i{
    background:url("../img/contact-hm6d2.png") repeat-y;

}
.s3-content .discv em{
  left:20px;
}
.s3-content .discv i{
    right:20px;
    
}
.s3-content .left .discv p{
    color:#595959;
}
.s3-content .right .disv p{
    color:white;
}
.s3-content .discv .btn a{
    display:inline-block;
    width:185px;
    height:55px;
    line-height:55px;
    border-radius:5px;
    border:2px solid #d2d2d2;
}
.s3-content .right p{
    color:white;
}
.s3-content .right{
    background-color: #206231;
}
.s3-content .discv h2{
    color:#111;
    font-size:30px;
    font-weight:normal;
    margin:30px 0;
}
.s3-content .right .discv h2{
    color:white;
}
.s3 .right .btn p{
    color:white;
}
.s3-content img{
    position:relative;
    top:-40px;
}
/* 尾部部分 */
.footer{
    background:#091b25;
    padding:110px 0 90px 0;
}
.footer-content{
    width:1200px;
    margin:0 auto;
    padding:0 15px;
    color:white;
    font-size:13px;
   
}
.footer-content .left,.footer-content .middle{
    float:left;
}
.footer-content:after{
    content:"";
    display:block;
    clear:both;
}
.footer-content .left{
    margin-right:40px;
}
.footer-content .right{
    float:right;
}
.footer-content h3{
    font-size:16px;
    margin: 20px 0 10px 0;
}
.footer-content .middle a:hover{
    color:#fff;
    text-decoration:underline;
    transition:color 0.5s;
}
.footer-content .left .dizhi{
    margin-top:35px;
}
.footer-content .left .dizhi:after{
    content:"";
    display:block;
    clear:both;
}
.footer-content .left .dizhi .left{
    float:left;
    color:#888888;
    margin:14px 0 0 0;
}
.footer-content .left .dizhi .right{
    float:left;
    color:#888888;
    margin-left:20px;
    }
.footer-content .left .dizhi .right strong{
    font-size:18px;
}
.footer-content  .left.dizhi .right p{
    font-size:13px;
    margin-top:10px;
}
.footer-content .left .dizhi .right a:hover{
    color:white;
    transition:color 0.5s;
}
.footer-content .middle ul{
    margin-top:35px;
} 
.footer-content .middle .left{
    float:left;
}
.footer-content .middle .right{
    float:right;
}
.footer-content .middle li{
    margin-top:8px;
}
.footer-content .middle a{
    font-size:13px;
    color:#888;
}
.footer-content >.right .right p{
    color:#a0a0a0;
    padding:0 55px;
    position:relative;
    top:30px;
    font-size:16px;
}
.footer-content >.right .content{
    display:inline-block;
   padding:35px 20px;
    border-top:1px solid #393939;
    border-bottom:1px solid #393939;
}

.footer-content >.right{
    margin-right:40px;
}
.footer-content >.right>p{
    margin-left:138px;
    margin-top:8px;
    color:#888;
}
.footer-content >.right a:hover{
    color:white;
    transition:color 0.5s;
}